.service-card-box .icon-box {
    position: relative;
    width: 80px!important;
    height: 80px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d7c;
    margin-bottom: 2rem;
}

.service-card-box .icon-box::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #6c757d7c;
    top: 40%;
    right: -20px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.service-card-box .icon-box i {
    font-size: 1.3rem;
}

.service-card-box .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 0 1rem;
    text-align: center;
    text-transform: capitalize;
}

.service-card-box .info {
    font-family: 'lato', sans-serif;
    font-size: 0.8rem !important;
    letter-spacing: 1px;
    color: #ebebebfb;
    line-height: 1.2rem;
}
.service-card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}
@media screen and (min-width:1024px) {
    .service-card-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .service-card-box .subtitle {
        text-align: left!important;
        margin: 0rem;
        padding: 0rem;
    }
    .service-card-box .info {
        text-align: left!important;
        margin-top: 1rem;
    }
    .service-card-box .box{
        padding-left: 1.5rem;
    }
}