.sponsor-section .title{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.sponsor-section{
    background-size: cover;
    background-position: center;
    height: fit-content
}
@media screen and (min-width:1024px) {
    .sponsor-section{
        height: 80vh;
    }
}